<div class="center jumbotron">
  <h1><%= t ".help" %></h1>
  <p>
    <%= t ".get_help_rails" %>
    <%= link_to t("help_page_rails"), Settings.help_page_rails_link %>
    <%= t ".get_help" %>
    <%= link_to t("ruby_rails"), Settings.ruby_rails_book_link %>
  </p>
</div>
