<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("title"), '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("static_pages.home.home"), '#' %></li>
        <li><%= link_to t("static_pages.help.help"), '#' %></li>
        <li><%= link_to t("login"), '#' %></li>
        <li><%= link_to t("en"), locale: :en %></li>
        <li><%= link_to t("vi"), locale: :vi %></li>
      </ul>
    </nav>
  </div>
</header>
